<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit & Mitigation</div>
  <div class="card-body">
    <h5 class="card-title">Broken Access Control</h5>
    <p class="card-text">
      <strong>Exploit</strong> Access unauthorized data</p>
    <p class="card-text">
      <strong>Mitigation</strong> //TODO</p>
    <a href="" target="_blank"><strong>Write Up</strong></a> | 
    <a href="" target="_blank"><strong>Video</strong></a>
  </div>
</div>