<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit Information</div>
  <div class="card-body">
    <h5 class="card-title">Broken Authentication</h5>
    <p class="card-text">
      <strong>Exploit</strong> Hijack another user's session and perform tasks while appearing as that user.</p>
    <p class="card-text">
      <strong>Mitigation</strong> TODO</p>
    <a href="<Replace>" target="_blank"><strong>Write Up</strong></a> |
    <a href="<Replace>" target="_blank"><strong>Video</strong></a>
  </div>
</div>