<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit & Mitigation</div>
  <div class="card-body">
    <h5 class="card-title">Broken Access Control</h5>
    <p class="card-text">
      <strong>Exploit</strong> Access unauthorized data</p>
    <p class="card-text">
      <strong>Mitigation</strong> //TODO</p>
    <a href="https://docs.google.com/document/d/1Cyq5lPnKTT8L48mraq9dOiTi__HRKcKxXnde7uUd3qI/edit?usp=sharing" target="_blank"><strong>Write Up</strong></a> | 
    <a href="https://media.oregonstate.edu/media/0_3oqob9z0" target="_blank"><strong>Video</strong></a>
  </div>
</div>