<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit Information</div>
  <div class="card-body">
    <h5 class="card-title">Broken Authentication</h5>
    <p class="card-text">
      <strong>Exploit</strong> Hijack another user's session and perform tasks while appearing as that user.</p>
    <p class="card-text">
      <strong>Mitigation</strong> Use a secure, server-side session manager that generates a new random session ID after each login, destroy sessions at logout, and expire sessions after a timeout period.</p>
    <a href="https://docs.google.com/document/d/1Om3-p5zJGjNiQOONTnl3M5S99FUkwOQ1qgawW5lNKKU" target="_blank"><strong>Write Up</strong></a> |
    <a href="https://media.oregonstate.edu/media/t/1_f6rf10kz" target="_blank"><strong>Video</strong></a>
  </div>
</div>