<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit Information</div>
  <div class="card-body">
    <h5 class="card-title">Exploit & Mitigation</h5>
    <p class="card-text">Find a brief description of the exploit or its mitigation here. Note: this info-box will update after </p>
  </div>
</div>