<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit Information</div>
  <div class="card-body">
    <h5 class="card-title">Exploit & Mitigation</h5>
    <p class="card-text">Find a brief description of the exploit and its mitigation here. Visit the WriteUps linked to in this box for an in depth discussion of the attack vector. </p>
  </div>
</div>