<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit & Mitigation</div>
  <div class="card-body">
    <h5 class="card-title">SQL Injection</h5>
    <p class="card-text">
      <strong>Exploit</strong> Insert malicious data into the application to destroy other users' data</p>
    <p class="card-text">
      <strong>Mitigation</strong> Perform server-side validation and parameterize user-supplied data before use. </p>
    <a href="https://docs.google.com/document/d/1vLt9DB0CV0_kHoa0WplpEvBNjAS3xPlZbVjL0GrMCsg/edit?usp=sharing" target="_blank"><strong>Write Up</strong></a> | 
    <a href="<Replace>" target="_blank"><strong>Video</strong></a>
    <br>

    <form action="{{endpoint}}/reset-user1" method="post">
      <button type="submit" class="btn btn-lg btn-primary float-left">Reset User 1</button>
    </form>
    
  </div>
</div>