<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit & Mitigation</div>
  <div class="card-body">
    <h5 class="card-title">Insecure deserialization</h5>
    <p class="card-text">
        <strong>Exploit</strong> Arbitrary code execution during deserialization achieves a reverse shell</p>
    <p class="card-text">
        <strong>Mitigation</strong> Proper escaping and avoid using evals</p>
    <a href="https://docs.google.com/document/d/1gZJv1wOVHagrYYLx7CBvnyJrFxvDbmOLndGIHOyqd_Q" target="_blank"><strong>Write Up</strong></a> | 
    <a href="https://media.oregonstate.edu/media/0_nk396xkq" target="_blank"><strong>Video</strong></a> 
  </div>
</div>