<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit & Mitigation</div>
  <div class="card-body">
    <h5 class="card-title">Using components with known vulnerabilities</h5>
    <p class="card-text">
        <strong>Exploit</strong> Inheriting a known exploit from another package</p>
    <p class="card-text">
        <strong>Mitigation</strong> Regular updates and/or vetting dependencies</p>
    <a href="https://docs.google.com/document/d/1QShqrbJ31a45vekj22OiFoW45G1JUjjRdnfF-bLhAHM" target="_blank"><strong>Write Up</strong></a>
  </div>
</div>