<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit & Mitigation</div>
  <div class="card-body">
    <h5 class="card-title">Security Misconfiguration</h5>
    <p class="card-text">
      <strong>Exploit</strong> Access admin controls through a security misconfiguration</p>
    <p class="card-text">
      <strong>Mitigation</strong> Configure software correctly, disable default logins</p>
    <a href="https://docs.google.com/document/d/1BKg_SJz3AVCn3K8sjQyv6exYWUdJEB9e6pzQO2E9zsM/edit?usp=sharing" target="_blank"><strong>Write Up</strong></a> |
    <a href="https://media.oregonstate.edu/media/0_yxmo4r38" target="_blank"><strong>Video</strong></a>
  </div>
</div>