<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit & Mitigation</div>
  <div class="card-body">
    <h5 class="card-title">Cross-site scripting (XSS)</h5>
    <p class="card-text">
        <strong>Exploit</strong> Running arbitrary third party javascript for all users visiting the page</p>
    <p class="card-text">
        <strong>Mitigation</strong> Sanitize html reserved words for js script execution</p>
    <a href="https://docs.google.com/document/d/1cOu3dPTD4pIdLwtp68mOsJunrosPaYpRHulYTyMA2Bc" target="_blank"><strong>Write Up</strong></a> | 
    <a href="https://media.oregonstate.edu/media/0_zaccesx3" target="_blank"><strong>Video</strong></a>
  </div>
</div>