<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit & Mitigation</div>
  <div class="card-body">
    <h5 class="card-title">XML External Entities (XXE)</h5>
    <p class="card-text">
      <strong>Exploit</strong> Access local content using an external entity</p>
    <p class="card-text">
      <strong>Mitigation</strong> Disable defined data-types/external entities during XML parser configuration</p>
    <a href="" target="_blank"><strong>Write Up - TO DO</strong></a>
  </div>
</div>