<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header">Exploit & Mitigation</div>
  <div class="card-body">
    <h5 class="card-title">XML External Entities (XXE)</h5>
    <p class="card-text">
      <strong>Exploit</strong> Access local content using an external entity</p>
    <p class="card-text">
      <strong>Mitigation</strong> Disable defined data-types/external entities during XML parser configuration</p>
    <a href="https://docs.google.com/document/d/1PR05VnZk9pSE_kP4oea8JbpuYPoLjmvYVTAz0lFdBqs/edit#heading=h.ato5dpgplzw7" target="_blank"><strong>Write Up</strong></a> | 
    <a href="https://media.oregonstate.edu/media/1_qrkc3o2a" target="_blank"><strong>Video</strong></a>
  </div>
</div>