<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1>Instructions</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>Select a vulnerability from the drop-down menu above</p>
        <img src='/images/select-vulnerability.png'>
      </li>
      <li class="list-group-item">
        <p>Follow the instructions in the Write Up to exercise the proof of concept exploit</p>
        <img src='/images/writeup.png'>
      </li>
      <li class="list-group-item">
        <p>Use the toggle to change between modes of operation</p>
        <img src='/images/sectoggle.png'>
        <img src='/images/vultoggle.png'>
    </li>
      <li class="list-group-item">
          <p>Refresh the page to see the new mode take effect</p>
          <kbd><kbd>ctrl</kbd> + <kbd>R</kbd></kbd>
          <kbd><kbd>Command</kbd> + <kbd>R</kbd></kbd>
      </li>
    </ul>
</div>