
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1>Todo List</h1>

    <div class="mx-auto text-left" style="width: 30rem;">
    {{#each tasks}}
        <div class="task">
            <input class="big-checkbox float-left" type="checkbox" data-task-id={{this.task_id}} 
                {{#if this.task_complete}}checked{{/if}}>
                
            <div class="card">            
                <div class="card-body">
                    {{this.task_description}}
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>
