
#main-content {
    margin-top: 56px;
}

.big-checkbox {width: 4rem; height: 4rem; margin-right: 1rem;}

.task { margin-top: 1rem; }

.form-inline { padding-left: 5rem; }

#task-desc { width: 100%; }

#exploit-card { position: fixed; right: 1rem; top: 10rem; }